#root {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
    gap: 16px;

    #pokemonResults {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        background: #c40808;
        border-radius: 20px;
        padding: 32px;


        #pokemonSpriteWrapper {
            background: gray;
            padding: 24px 24px 48px 24px;
            border-radius: 10px 10px 10px 56px;

            .img-wrapper {
                background: white;
                height: 100px;
                width: 100px;
                #pokeSprite {
                    border: 1px solid;
                    border-radius: 6px;
                   
                }
            }
        }

        #pokemonStatsCtn {
            display: flex;
            flex-flow: column;
            background: lightgreen;
            padding: 16px;
            border: 1px solid;
            border-radius: 10px;
            height: 100px;
            width: 200px;
            #errorCtn {
                margin: 0;
                &.hide {
                    display: none;
                }
            }
        }

    }


}